*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

body {
  color: #aaa;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: [nav-start] 6rem [nav-end header-start] 95vh [header-end] repeat(5, max-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, 1fr) [center-end] 1fr [full-end]; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65)), url(../img/wowheader.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-row: 1 / header-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
  justify-content: center; }
  .header::before {
    content: "";
    background-color: #fff;
    position: absolute;
    /*positions with reference to div*/
    top: 100%;
    left: 50%; }
  .header__title {
    font-size: 7.5rem;
    color: #fff;
    grid-row: 3 / 4; }
  .header__poweredby-text {
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: #aaa; }
    .header__poweredby-text::before, .header__poweredby-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__sponsors {
    grid-row: 6 / 7;
    justify-self: center; }
    .header__sponsors img {
      max-height: 6.5rem;
      max-width: 100%; }

.navbar {
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  grid-row: nav-start / nav-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: sticky;
  top: 0;
  z-index: 1000; }
  .navbar__logo {
    padding-left: 5rem;
    grid-column: 1 / span 2;
    text-transform: uppercase;
    align-self: center; }

.nav {
  list-style: none;
  grid-column: 6 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center; }
  .nav__link, .nav__visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-0.5rem); }

.footer {
  background-color: olivedrab;
  grid-column: full-start / full-end; }

.article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/article3.jpg);
  background-size: cover;
  background-repeat: center;
  margin-bottom: 10rem;
  height: 35vw;
  grid-column: center-start / center-end;
  box-shadow: 0.5rem 1rem 5rem rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-rows: max-content min-content;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  padding: 3rem 0 3rem 6rem;
  align-content: end; }
  .article__link:link, .article__link:visited {
    grid-column: 1 / span 2;
    color: #fff;
    text-decoration: none;
    transition: all .2s; }
  .article__link:hover, .article__link:active {
    transform: translateY(2rem);
    opacity: .7; }
  .article__title {
    font-size: 5rem;
    letter-spacing: .3rem; }
  .article__postDate {
    font-size: 1.2rem;
    letter-spacing: .3rem;
    margin-bottom: 3rem; }
    .article__postDate span {
      font-size: .8rem;
      padding: .2rem;
      border: 1px solid #fff; }
  .article__excerpt {
    font-size: 2rem; }

.blog {
  background-color: coral;
  grid-column: 2 / 7; }

.sidebar {
  background-color: orangered;
  grid-column: 8 / 10; }

.features {
  grid-column: center-start / center-end;
  margin-top: 15rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem; }

.feature {
  font-weight: 300;
  height: 20vw;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: end;
  padding: 3rem 1.5rem;
  box-shadow: 0.5rem 1rem 5rem rgba(0, 0, 0, 0.6); }
  .feature__link:link, .feature__link:visited {
    color: #fff;
    text-decoration: none;
    transition: all .2s; }
  .feature__link:hover, .feature__link:active {
    transform: translateY(-1rem);
    opacity: .9; }
  .feature--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/feature1.jpg);
    background-size: cover;
    background-position: center; }
  .feature--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/feature2.jpg);
    background-size: cover;
    background-position: center; }
  .feature--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/feature3.jpg);
    background-size: cover;
    background-position: center; }
  .feature__title {
    font-size: 3rem;
    letter-spacing: .3rem; }
  .feature__postDate {
    font-size: 1.2rem;
    letter-spacing: .3rem; }
    .feature__postDate span {
      font-size: .8rem;
      padding: .2rem;
      border: 1px solid #fff; }
