.blogs {
  grid-column: 2 / 7;
  margin-bottom: 15rem;

  .readMore {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &__link:link,
    &__link:visited {
      font-size: 2rem;
      color: #000;
      text-decoration: none;
      transition: all .3s;
    }
  
    &__link:hover,
    &__link:active {
      background-color: #000;
      color: #fff;
      padding: 1rem 1.5rem;
      border-radius: 10rem;
      transform: translateY(-1rem);
      opacity: .9;
    }
  }
}

.blog {
  margin-bottom: 5rem;
  height: 20vw;
  font-weight: 300;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: end;
  padding: 3rem 1.5rem;
  box-shadow:  .5rem 1rem 5rem rgba(#000, .6);
  
  &__link:link,
  &__link:visited {
    color: #fff;
    text-decoration: none;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    transform: translateY(-1rem);
    opacity: .9;
  }

  &--1 {
    background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url(../img/feature1.jpg);
    background-size: cover;
    background-position: center;
  }

  &--2 {
    background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url(../img/feature2.jpg);
    background-size: cover;
    background-position: center;    
  }

  &--3 {
    background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url(../img/feature3.jpg);
    background-size: cover;
    background-position: center;
  }

  &--4 {
    background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url(../img/feature1.jpg);
    background-size: cover;
    background-position: center;
  }

  &--5 {
    background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url(../img/feature2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  &__title {
    font-size: 3rem;
    letter-spacing: .3rem;
  }

  &__postDate {
    font-size: 1.2rem;
    letter-spacing: .3rem;

    span {
      font-size: .8rem;
      padding: .2rem;
      border: 1px solid #fff;
  
    }
  }
}

