.header {
  // background-image: url(../img/wowheader.jpg);
  background-image: linear-gradient(rgba(#000, .3), rgba(#000, .65)), url(../img/wowheader.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-row: 1 / header-end;
  grid-column: full-start / full-end;
  // filter: brightness(70%);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
  justify-content: center;

  &::before {
    content: "";
    background-color: #fff;
    position: absolute; /*positions with reference to div*/
    top: 100%;
    left: 50%;
  }

  &__title {
    font-size: 7.5rem;
    color: #fff;
    grid-row: 3 / 4;
  }

  &__poweredby-text {
    grid-row: 5 / 6;    
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__sponsors {
    grid-row: 6 / 7;
    justify-self: center;

    img {
      max-height: 6.5rem;
      max-width: 100%;
    }
  }
}